@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #f7f7f7;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Inter, sans-serif;
}

html,
body {
	padding: 0;
	margin: 0;
	background-color: var(--background);
}

img {
	display: block;
	max-width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
	margin: 0;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}
